@model IEnumerable<Project.Models.Tblpizzalist>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Pizza</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" id="details">Details</a>                 
            </td>
        </tr>
}
    </tbody>
</table>
